
@font-face {
    font-family: "Valenciaga";
    src: url("font/valenciaga/valenciaga.woff2")
format("woff2"), url("font/valenciaga/valenciaga.woff")
format("woff");
}


@font-face {
    font-family: "Modernspace";
    src: url("font/modernspace/MODERN SPACE.woff2")
format("woff2"), url("font/modernspace/MODERN SPACE.woff")
format("woff");
}


@font-face {
    font-family: "PassionOne";
    src: url("font/Passion_One/PassionOne-Regular.woff2")
format("woff2");
}

@font-face {
    font-family: "Ubuntu";
    src: url("font/Ubuntu/Ubuntu-Regular.woff2")
format("woff2");
}


@font-face {
    font-family: "Charm";
    src: url("font/Abril/Abril.woff2")
format("woff2");
}

@font-face {
    font-family: "Leckerli";
    src: url("font/Leckerli_One/LeckerliOne-Regular.woff2")
format("woff2");
}

@font-face {
    font-family: "Feed";
    src: url("font/Feed/Feed.woff2")
format("woff2");
}


@font-face {
    font-family: "Cormorant";
    src: url("font/Cormorant/CormorantBold.woff2")
format("woff2");
}

@font-face {
    font-family: "Magma";
    src: url("font/magma/Magma.woff2")
format("woff2");
}


@font-face {
    font-family: "Nopia";
    src: url("font/NOPIA.woff2")
format("woff2");
}



